[2017-02-10 19:55] smddzcy opened #1 "Create a personal wiki page"
# TODO
- [x] Create a personal wiki page.
- [x] Add its link to the home wiki page.
- [x] Add its link to the `Group Members` sidebar.

[2017-02-10 21:23] smddzcy opened #2 "Create a Git Basics page in wiki"
# TODO
- [x] Add a Git Basics page to wiki
- [x] Give links to the new page from main page and ToC (table of contents).

[2017-02-10 21:25] smddzcy opened #3 "Create a "Issue & Pull Request" page in wiki"
# About
As I did with the [Git Basics](https://github.com/bounswe/bounswe2017group3/wiki/Git-Basics) page, we should create a *Issue & Pull Request* wiki page that explains how we should use the Issue and PR system of GitHub.

## TODO
- [ ] Add an "Issue & Pull Request" page to wiki
- [ ] Give links to the new page from main page and TOC (table of contents).

[2017-02-11 17:24] gokceuludogan opened #4 "Create a personal wiki page"
- [x] Create a personal wiki page and add it to home page

[2017-02-12 07:45] esra-aydemir opened #5 "Meeting 1 tasks"
- [x] add meeting 1 notes
- [x] create api research page at wiki

[2017-02-12 12:59] memhak opened #6 "api research"
# TODO
- [x] contribute to api research

[2017-02-12 16:14] mtoygar opened #7 "Creating personal wiki page"
- [x] Create a webpage and add it to the home page.

[2017-02-12 18:05] #4 closed

[2017-02-13 00:25] #5 closed

[2017-02-13 13:12] #7 closed

[2017-02-13 13:14] #6 closed

[2017-02-13 13:26] #1 closed

[2017-02-13 13:26] #2 closed

[2017-02-13 13:41] buraktomruk opened #8 "Api Research"
Do an Api research and add it to Api Research wiki page

[2017-02-13 15:11] mehmetcalim opened #9 "Creating a personal wiki page"

[2017-02-13 15:14] #9 closed

[2017-02-13 15:30] mehmetcalim opened #10 "API Research"
I researched APIs and contributed on our api research page on wiki.

[2017-02-13 19:07] #10 closed

[2017-02-13 21:42] OnurOrhan opened #11 "Personal Page & API research"
- [x] Personal Page
- [x] API Page

[2017-02-13 21:59] #8 closed

[2017-02-13 22:37] #11 closed

[2017-02-14 08:18] smddzcy opened #12 "Contribute to API research"
# About

Since everyone has researched a new API in our team (some other groups did it differently - they researched a single API as a team), I'll do my research separately too.

## TODO

- [x] Choose an API to research.
- [x] Select most important categories to include in the research.
- [x] Make the research.
- [x] Open the Wiki page.
- [x] Add its links to the other wiki pages.

[2017-02-14 08:18] smddzcy commented on #12
My research is about Docker Remote API. You can see it here: https://github.com/bounswe/bounswe2017group3/wiki/Docker-Remote-API

[2017-02-14 08:19] #12 closed

[2017-02-14 08:23] smddzcy commented on #2
@bounswe/bounswe2015group3 Completed wiki page is here: https://github.com/bounswe/bounswe2017group3/wiki/Git-Basics

[2017-02-14 08:27] smddzcy commented on #3
@bounswe/bounswe2017group3 We can assign someone to this issue, or do it as a team. How should we proceed?

[2017-02-14 21:50] smddzcy opened #13 "Create a project in Projects section"
# About
GitHub offers a great board for project management, just like Trello, and we should set up one for future use.

# TODO
- [x] Create a project in Projects in section.
- [x] Create appropriate columns in the created project board.

[2017-02-14 21:52] smddzcy commented on #13
@gokceuludogan Can you review the board I've created and close the issue if it's OK?

[2017-02-14 22:05] gokceuludogan commented on #13
That's fine.

[2017-02-14 22:05] #13 closed

[2017-02-19 15:06] esra-aydemir opened #14 "Meeting 2 Action Points"
- [x]  Create issue system page @mtoygar
- [x] Create pull request page @smddzcy
- [x] Create communication plan page @gokceuludogan

[2017-02-19 15:31] smddzcy opened #15 "Create pull request page"
# About

We all need to know about GitHub's cool features, and one of them is *Pull Request* system. We should create an information page about it.

## TODO

- [x] Create an information page about pull requests in [wiki](https://github.com/bounswe/bounswe2017group3/wiki).
- [x] Add its link to homepage and TOC.

[2017-02-19 21:17] smddzcy commented on #3
I'm closing this since we've separated this into two tasks; one is creating an issue page, and the other is creating a pull request page (assigned to me).

[2017-02-19 21:17] #3 closed

[2017-02-20 07:59] mtoygar commented on #14
Issue system page is created and its link is added to homepage and table of contents.

[2017-02-20 20:41] smddzcy opened #16 "Add requirements for "Recommendation" section"
# About
*Recommendation* section was assigned to me on [meeting 2](https://github.com/bounswe/bounswe2017group3/wiki/Meeting-2-17.02.2017), and I should add its requirements.

## TODO
- [x] Add requirements for *Recommendation* section.

[2017-02-20 21:08] #16 closed

[2017-02-21 10:39] smddzcy opened #17 "Choosing a mockup tool"
# About

As we've discussed in the class, we should choose a mockup tool to build a mockup (a basic interface of our *desired* product).

[2017-02-21 10:40] smddzcy commented on #17
@bounswe/bounswe2017group3 I'll share the tools I've used and liked in the past, but it'd be better if we all share our thoughts and recommendations.

[2017-02-22 17:48] MertKalaylioglu opened #18 "Join PS"
- [x] Inform TeamMates about PS.

[2017-02-22 17:49] MertKalaylioglu commented on #18
[PS_352.docx](https://github.com/bounswe/bounswe2017group3/files/794340/PS_352.docx)

[2017-02-22 19:06] MertKalaylioglu commented on #17
I used Balsemiq Mock-Up before but NinjaMock seems good.

[2017-02-22 20:58] smddzcy opened #19 "Improve the communication plan page according to the feedback"
# About

Özlem (our customer) has given us some [feedback](https://piazza.com/class/iy2vi1es6ta4jc?cid=47) on the communication plan page. We should improve the page according to her feedback.

## TODO

- [x] Move _customer_ definition to the glossary.
- [x] Remove _communicator_ definition since it's not related.
- [x] Add team members to the glossary.

[2017-02-22 21:01] #19 closed

[2017-02-22 21:18] smddzcy opened #20 "Add a glossary to the requirements page"
# About

As a feedback from our customer (Özlem), we should add a glossary to our [requirements page](https://github.com/bounswe/bounswe2017group3/wiki/Requirements).

[2017-02-22 21:20] smddzcy opened #21 "Remove repeating items from the requirements"
# About

As a feedback from our customer (Özlem), we should remove the repeating content from our requirements.

**Examples of our customer:**
- Items: **1.1.5.1**, **1.1.5.3**, **1.3.1**.
- There are repeating subjects in **1.1.4**. It looks like _"items of interest"_ and _"content"_ on **1.1.4.1** & **1.1.4.2** have the same meaning.

[2017-02-22 21:28] smddzcy commented on #17
I've used [Marvel](https://marvelapp.com/) and [Invision](https://www.invisionapp.com/), and both of them are really good. We should discuss it on our nearest meeting and choose one to create a quick mockup 🚀

[2017-02-22 21:31] smddzcy opened #22 "Move some of the requirements to more appropriate places"
# About
As a feedback from our customer (Özlem), some of our requirements need to be moved.

I think we're going to change the structure of `User Requirements` once more (since we should add subsections about user types), but it's still better to separate that task from this.

## TODO
- [x] We should put **1.1.5.2.1** and **1.1.5.2.2** under **1.1.5.1**.
- [x] _Admins_ mentioned on **1.4** are act

[2017-02-22 21:33] smddzcy opened #23 "Add some missing requirements"
# About
As a feedback from our customer (Özlem), we should add some missing requirements to our [requirements page](https://github.com/bounswe/bounswe2017group3/wiki/Requirements).

## TODO
- [x] Add an item stating that we'll make android and web applications to non-functional requirements.
- [x] Add requirements about annotations.
- [x] Add subsections about user types to user requirements.

[2017-02-22 21:37] smddzcy opened #24 "Make the requirements more specific and clear"
# About

As a feedback from our customer (Özlem), some of our requirements are not clear and specific enough. We should make them specific and measurable.

## TODO
- [x] Improve the wording of _"interact"_ on **1.1.4.4** and make it more specific.
- [x] Improve the wording of _"items of interest"_ on **1.1.4.1** and make it more specific. Our customer says that: We should say in which forms it can

[2017-02-22 21:57] #15 closed

[2017-02-24 15:03] #21 closed

[2017-02-24 16:52] gokceuludogan opened #25 "Edit the requirements"
# About
Since we added some items to the requirements and changed the structure of them without regarding numbering and the order on the meeting, the page need to be edited.

- [x] Fix the numbering and the structure of the requirements

[2017-02-24 18:38] gokceuludogan commented on #23
I have added the requirements about annotations but it could be better if someone reviews it

[2017-02-24 19:22] gokceuludogan commented on #17
I have taken a look at all of them. Both Balsemiq and NinjaMock seem easier to me but I think NinjaMock looks nicer.

[2017-02-24 19:54] smddzcy commented on #20
🚀

[2017-02-24 19:54] #20 closed

[2017-02-24 19:54] smddzcy commented on #22
I'm closing it since we've reviewed it today 🚀

[2017-02-24 19:54] #22 closed

[2017-02-24 20:00] smddzcy commented on #23
@gokceuludogan Looks perfect 👌

[2017-02-24 20:00] #23 closed

[2017-02-24 20:13] smddzcy commented on #24
I've made the minor changes such as fixing typos, settings header sizes and improving the consistency across the document by rewording some phrases. It looks good now, closing this issue 👍

[2017-02-24 20:13] #24 closed

[2017-02-24 20:13] #25 closed

[2017-02-24 21:39] #18 closed

[2017-02-25 10:17] smddzcy commented on #17
Since we've agreed on Balsamiq (and created an initial mockup) I'm closing this 👍 We can always change the tool whenever it doesn't suit our needs.

[2017-02-25 10:17] #17 closed

[2017-02-25 10:25] smddzcy opened #26 "Create a simple mockup for the project"
# About

We should create a mockup for our project. We can track the changes of our mockup on this issue.

# Visuals

Here are the visuals of our initial mockup.

Main Page - Guest
![main page - guest](https://cloud.githubusercontent.com/assets/13895224/23330370/43bc14a0-fb5d-11e6-814f-bae5cde92d9b.png)

Sign In Page
![sign in](https://cloud.githubusercontent.com/assets/13895224/23330375/5404575a-

[2017-02-27 04:53] #14 closed

[2017-02-27 15:47] buraktomruk opened #27 "Create mockup for creating event and group page - Mobile"

[2017-02-27 20:01] OnurOrhan commented on #26
* Search Page

![image](https://cloud.githubusercontent.com/assets/25687182/23377286/8150bed0-fd40-11e6-8786-5a04d54cdae3.png)

* Group Page

![image](https://cloud.githubusercontent.com/assets/25687182/23377274/72eb5f80-fd40-11e6-9d09-54e610fa5964.png)

[2017-02-27 22:10] buraktomruk commented on #27
![create group page jpeg](https://cloud.githubusercontent.com/assets/25683353/23382300/497a6f9c-fd4a-11e6-890d-486d091567c8.png)
![create event page jpeg](https://cloud.githubusercontent.com/assets/25683353/23382301/49c4a792-fd4a-11e6-996a-95dcdb22595f.png)

[2017-02-27 22:11] #27 closed

[2017-02-27 23:48] esra-aydemir commented on #26
These are some other pages of mobile version:

![sign up](https://cloud.githubusercontent.com/assets/9717121/23385296/c6e49f40-fd57-11e6-8609-b9b9d4126441.png)

![log in](https://cloud.githubusercontent.com/assets/9717121/23385301/cc925cc0-fd57-11e6-8667-8aa963511cc1.png)

![user - homepage](https://cloud.githubusercontent.com/assets/9717121/23385308/d7682670-fd57-11e6-9fab-f6a4a58f3fd2.png)

![gu

[2017-02-28 09:36] smddzcy commented on #26
Here is the updated mockup after the feedback in the class: https://transfer.sh/12Ud9R/web-mockup.bmpr

![main page - guest](https://cloud.githubusercontent.com/assets/13895224/23399748/71a9e0b6-fdb2-11e6-9f4d-eefedb048d4e.png)
![sign up](https://cloud.githubusercontent.com/assets/13895224/23399752/71c490c8-fdb2-11e6-859c-19aa3337b969.png)
![main page - user](https://cloud.githubusercontent.com/as

[2017-03-02 07:33] gokceuludogan opened #28 "Create a use case diagram"
# ABOUT

Since we are supposed to create a use case diagram, after the meeting 4 I have created below diagram based on the topics we have talked. Here we can track changes we will make on it
![image](https://cloud.githubusercontent.com/assets/9639399/23497302/800868da-ff33-11e6-8538-bf3770ea7ccc.png)

[2017-03-02 16:48] smddzcy commented on #26
Edited 2 pages of web mockup:

|Main Page - Guest|Main Page - User|
|--|--|
|![main page - guest](https://cloud.githubusercontent.com/assets/13895224/23517359/ca7d5ed0-ff78-11e6-8d6c-7f6c46abba1c.png)|![main page - user](https://cloud.githubusercontent.com/assets/13895224/23517360/caa0e558-ff78-11e6-9591-77c8a25561c8.png)|

[2017-03-02 19:51] OnurOrhan commented on #26
![groups](https://cloud.githubusercontent.com/assets/25687182/23525624/28bc4fac-ffa0-11e6-8e74-73b04db707cb.png)
![search page](https://cloud.githubusercontent.com/assets/25687182/23524225/baea3d18-ff9a-11e6-9a0b-bc686293c7c0.png)
![group page 1](https://cloud.githubusercontent.com/assets/25687182/23525085/48a77370-ff9e-11e6-8883-0b1592291877.png)

[2017-03-03 14:47] esra-aydemir opened #29 "UML Generalization"
We have inspected the uml file and editted. There should be generalization between user and moderator and include arrows coming to moderator should be deleted.
We could not find how to add generalization.

This is the link of new uml. it can be loaded to wiki after adding generalization
**Add following user to use case diagram
http://yuml.me/edit/afe755c6

[2017-03-03 15:06] esra-aydemir commented on #29
Will/Should annotations and tags be added to use case diagram?

[2017-03-03 15:08] smddzcy opened #30 "Enriching the use cases"
# About

We should enrich our use cases.

## TODO

- [x] Make the existing use cases more clear.
- [x] Add missing use cases.

[2017-03-03 15:09] smddzcy opened #31 "Creating mock up pages corresponding to use cases"

[2017-03-03 15:27] esra-aydemir opened #32 "Complete lacking mock-up pages"
- [x] forum page
- [x] viewing other users profile page  (add follow button)
- [x] Profile (add following a user, a group choices?)
- [x] group page (add follow unfollow join buttons -show 'following' info-)
- [x] group page (if member -> a text box to add content -> a share button)
- [x] group page(add leave group etc options on use case diagram)
- [x] Follows (add links to follows from profile &

[2017-03-03 15:30] esra-aydemir opened #33 "Tasks after meeting 4"
- [x] mobile mock up @buraktomruk @OnurOrhan @esra-aydemir
- [x] web mock up @smddzcy @MertKalaylioglu
- [x] use cases @mehmetcalim @mtoygar

[2017-03-03 22:29] smddzcy commented on #26
I'm closing this issue since we've created a simple mockup and achieved what this issue is about 😄 We can continue on web/mobile specific enhancement issues.

[2017-03-03 22:29] #26 closed

[2017-03-03 22:30] smddzcy commented on #28
@gokceuludogan To prevent duplicate issues: Should we continue on #30, or should I delete that issue? I suggest we name this issue _"Create a use case diagram"_ and continue on the new one to divide tasks into smaller issues.

[2017-03-03 22:33] smddzcy commented on #31
Duplicate of #32.

[2017-03-03 22:33] #31 closed

[2017-03-04 08:25] gokceuludogan commented on #28
Ok. Since we will continue on the new one, I am closing this issue.

[2017-03-04 08:25] #28 closed

[2017-03-04 08:30] gokceuludogan commented on #29
I think tagging must be added but I am not sure about the annotations.

[2017-03-04 19:16] MertKalaylioglu commented on #29
Generalization is added.
https://yuml.me/edit/7b73cdac

[2017-03-04 23:49] smddzcy commented on #32
I've added the mockups for following a group, but I need some clarification for the others. @esra-aydemir Help me in Slack whenever you are available 🤓

[2017-03-04 23:53] smddzcy commented on #29
@esra-aydemir I think both should be added since they are actual _use cases_.
@MertKalaylioglu Looks great 🚀

[2017-03-06 00:23] smddzcy commented on #32
Mockups are done 👌  I've created the profile pages, group options (leave, follow, manage etc.), and create content page. I've also made some changes like adding icons to buttons, changing some colors, adding some action pages.

I'm sending the new web mockups to you on Slack (also attaching here). I'll change the wiki page tomorrow 🚀

[web-mockup.6.3.2017.zip](https://github.com/bounswe/bounswe201

[2017-03-06 00:28] smddzcy opened #34 "Put the new web mockups to wiki"

[2017-03-06 08:15] smddzcy commented on #32
I've updated the mockups - added links to profile pages, changed _Lorem ipsum_ with a realistic text: [web-mockup.6.3.2017.rev2.zip](https://github.com/bounswe/bounswe2017group3/files/820485/web-mockup.6.3.2017.rev2.zip)

[2017-03-06 08:29] smddzcy opened #35 "Add mockups for privacy settings"
# About

Users should be able to set the privacy settings for **events**, **groups** and **their profile information**. There'll be 2 options: **public** or **private**. Guests won't be able to see the private things.

## Design

I think a Facebook-like dropdown is enough.
<img width="152" alt="screen shot 2017-03-06 at 11 28 42" src="https://cloud.githubusercontent.com/assets/13895224/23602152/b0

[2017-03-06 10:00] gokceuludogan commented on #35
I have added mockup for group privacy settings and changed the moderator page and change template mockups accordingly. Here are the visuals of them:

![moderator page](https://cloud.githubusercontent.com/assets/9639399/23605196/6c1677ca-0264-11e7-97bd-380d76512daa.png)

![change privacy](https://cloud.githubusercontent.com/assets/9639399/23605194/6c137f02-0264-11e7-80a7-15e6dab7a7c0.png)

![new ch

[2017-03-06 12:18] smddzcy opened #36 "Create scenarios by using our use cases"
# About

Our mockup structure (a flow of mockups) is not descriptive enough at the moment. We should create scenarios by using our use cases and after that create mockups for each of those scenarios.

## TODO

- [x] Create scenarios by using our use cases.
Examples:
- https://github.com/bounswe/bounswe2015group3/wiki/Scenarios
- https://github.com/bounswe/bounswe2015group4/wiki/Scenarios
- [x] Cre

[2017-03-06 12:38] smddzcy commented on #32
Added mockups for adding a user and accepting pending join requests for moderators: [web-mockup.6.3.17.rev3.zip](https://github.com/bounswe/bounswe2017group3/files/821131/web-mockup.6.3.17.rev3.zip)

[2017-03-06 13:27] smddzcy commented on #34
I've separated the mockup pages, uploaded new web mockups and added their links to home page and sidebar.

[2017-03-06 13:27] #34 closed

[2017-03-06 14:33] gokceuludogan commented on #35
I have also added mockups for event privacy and profile information settings. Additionally, I have changed the mockups related to these ones. Here are the new versions of these mockups:

![event page](https://cloud.githubusercontent.com/assets/9639399/23614014/3c5614fc-028a-11e7-80f7-1dcc44d47ae2.png)

![event page - change privacy](https://cloud.githubusercontent.com/assets/9639399/23614013/3c534

[2017-03-06 14:46] gokceuludogan commented on #35
My Profile Page - About - Edit with a little change
![Uploading My Profile Page - About - Edit.png…]()

[2017-03-06 14:47] gokceuludogan commented on #35
My Profile Page - About - Edit with a little change
![my profile page - about - edit](https://cloud.githubusercontent.com/assets/9639399/23614704/937dfcb6-028c-11e7-85f6-f32992edd769.png)

[2017-03-06 14:51] gokceuludogan commented on #35
Since I have completed and added them to the wiki page, I am closing this issue

[2017-03-06 14:51] #35 closed

[2017-03-06 17:05] gokceuludogan commented on #36
I have created a wiki page for the scenarios and added two scenarios about searching and joining a group and searchin by tag and joining an event.

[2017-03-06 21:20] buraktomruk commented on #32
Adding some missing mockups for mobile
[mobile_mockup.bmpr.zip](https://github.com/bounswe/bounswe2017group3/files/822550/mobile_mockup.bmpr.zip)

[2017-03-07 00:53] #32 closed

[2017-03-07 06:12] OnurOrhan commented on #32
![image](https://cloud.githubusercontent.com/assets/25687182/23643934/e04f8396-0315-11e7-94ca-43a12b927606.png)
![image](https://cloud.githubusercontent.com/assets/25687182/23643939/e496a7f4-0315-11e7-86d2-cafae62d80b9.png)
![image](https://cloud.githubusercontent.com/assets/25687182/23643944/e898600e-0315-11e7-8f95-6df42b907bd4.png)
![image](https://cloud.githubusercontent.com/assets/25687182/236

[2017-03-07 06:15] OnurOrhan commented on #32
Hatice Esra:

![image](https://cloud.githubusercontent.com/assets/25687182/23644066/672fdb22-0316-11e7-98ce-2795f7180978.png)
![image](https://cloud.githubusercontent.com/assets/25687182/23644069/6a7391ca-0316-11e7-81b2-36f0438a2c36.png)
![image](https://cloud.githubusercontent.com/assets/25687182/23644071/6d962642-0316-11e7-9c0c-e5142505c5d7.png)
![image](https://cloud.githubusercontent.com/asset

[2017-03-08 15:34] gokceuludogan opened #37 "Review the following option of group mockups for guest"
# ABOUT

Correct the following option for guests
@smddzcy @MertKalaylioglu

[2017-03-08 16:26] gokceuludogan opened #38 "Tasks after meeting on 8th of March"
- [x] Review and add use case scenarios @memhak
- [x] Create a template for the class diagram @gokceuludogan @esra-aydemir
- [x] Review use cases and use case diagram @ugurcanarikan

[2017-03-08 18:40] #37 closed

[2017-03-08 18:51] smddzcy opened #39 "Create issue and pull request templates for consistency"
# About

We're all creating issues in different structures, and I think we'll be creating pull requests _more_ differently. For consistency, we should create an issue and pull request template and all of us should follow the structure in that template.

## TODO

- [ ] Create an issue template and put it to `.github/ISSUE_TEMPLATE.md`, which is where GitHub looks for the issue template for the repo

[2017-03-08 19:54] smddzcy commented on #39
@bounswe/bounswe2017group3 I've prepared some templates for issues and pull requests. Whenever you create a new issue or pull request from now on, you'll see an initial template like this:
<img width="780" alt="screen shot 2017-03-08 at 22 52 52" src="https://cloud.githubusercontent.com/assets/13895224/23721160/9d6129ec-0449-11e7-94b4-f9080842cb91.png">

You can remove the unrelated things, but ma

[2017-03-08 19:54] #39 closed

[2017-03-08 20:55] gokceuludogan opened #40 "Create a class diagram"
## About

Since we are going to make a class diagram, I have opened a document and started to create the diagram in lucidchart.

## To-do

- [x] Create a class diagram.

[2017-03-09 21:48] memhak commented on #38
I've reviewed the existing use case scenarios and added some.

[2017-03-10 10:28] gokceuludogan commented on #38
Could you add also the tag and annotation part to use case diagram? @ugurcanarikan

[2017-03-10 11:15] gokceuludogan commented on #40
Here is a useful tutorial about uml and class diagram:
https://www.ibm.com/developerworks/rational/library/content/RationalEdge/sep04/bell/

[2017-03-10 23:43] smddzcy commented on #40
Here is the initial diagram:
![class diagram - page 1](https://cloud.githubusercontent.com/assets/13895224/23817434/c594822a-05fb-11e7-8be0-6308caba7bf5.png)

We should add the annotations to the diagram (there is a small class for that but it's not complete yet 😅) and add some more declarations about how classes interact, but it looks OK for now. Please review 👍

[2017-03-10 23:45] smddzcy commented on #30
@mtoygar @mehmetcalim @OnurOrhan I think we should finish this before our sequence diagram.

[2017-03-10 23:50] smddzcy opened #41 "Create the login sequence diagram"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group3/issues/30
* **Other Related Links:** https://github.com/bounswe/bounswe2015group3/wiki/Sequence%20Diagrams (Sequence diagram example - 2015 group 3)

We should create the UML sequence diagrams as it's told in our last assignment. As my part, I'll take the login sequence diagram.

## Visuals

An example from internet:
![](

[2017-03-10 23:51] smddzcy commented on #38
Class diagram is ready for review, so every todo is done. I'm closing this 👌

[2017-03-11 20:37] smddzcy commented on #30
@mtoygar @mehmetcalim @OnurOrhan Any progress?

[2017-03-13 17:20] smddzcy commented on #41
I've created the login sequence:
![login sequence](https://cloud.githubusercontent.com/assets/13895224/23866556/dc875e8a-0821-11e7-846f-cf088eba4b30.png)

We can use [websequencediagrams.com](websequencediagrams.com) to generate sequence diagrams. Here's the code for mine:
[code]

[2017-03-13 18:23] smddzcy commented on #41
I think it's not totally correct. I'll add the life cycles and use the classes in our class diagram instead of abstract objects 👌

[2017-03-13 18:40] gokceuludogan commented on #40
I have reviewed it. It's OK for now.

[2017-03-13 18:40] #40 closed

[2017-03-13 19:27] smddzcy commented on #41
Since our class diagram is actually the diagram of our backend API, the user interface here is not a class. It can be our web interface, Android application or iOS application. It will send a request to our backend API and the classes there will take care of the rest.

Here is the final login sequence diagram:
![login sequence](https://cloud.githubusercontent.com/assets/13895224/23871629/e8a76bc6-

[2017-03-13 19:31] memhak opened #42 "Create add tag sequence diagram"
## About

* **Related Issues:** #41

Our task is creating sequence diagrams, as my part I will create one for adding tags.

## To-do

- [ ] Create the sequence diagram @memhak

[2017-03-13 19:37] buraktomruk opened #43 "Create a sequence diagram for creating event"

[2017-03-13 19:40] smddzcy commented on #41
I'll add it to the wiki page after the review, if it's OK.

[2017-03-13 19:42] OnurOrhan opened #44 "Creating Content Sequence Diagram"
Create a "Creating Content Sequence Diagram", corresponding to Use Case #6

[2017-03-13 19:45] memhak commented on #41
I think is a good diagram.

[2017-03-13 19:45] mehmetcalim opened #45 "Creating search an item sequence diagram"
## About
Create a search an item sequence diagram by using Use Case 5.

[2017-03-13 19:49] MertKalaylioglu opened #46 "Create a sequence diagram for Use Case 8: Change the Privacy Settings"
Create a sequence diagram for Use Case 8 (Change the Privacy Settings).

[2017-03-13 19:49] memhak commented on #42
[This ](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgQWRkaW5nIFRhZyBTZXF1ZW5jZQoKVXNlci0-VXNlciBJbnRlcmZhY2U6IGNsaWNrIG9uIHRoZSAiYWRkIHRhZyIgYnV0dG9uAC8FACQKLT5TeXN0ZW06IGNhbkFkZFRhZyh0YXJnZXQ6VGFnZ2FibGUpCgAdBgAgC2hlY2sgaWYgdXNlciBpcyBwZXJtaXR0ZWQKCmFsdAARBmhhABEHc3Npb24KICAgIABACACBIRAAGBgAgRsQVXNlcgAnB2lzIHJlZGlyZWN0ZWQgdG8AgV0Ld2luZG93ADgJAFgXYWRkcyB0YWcgAFUVAIINCGEAggoIZzpUYWc

[2017-03-13 20:09] OnurOrhan commented on #30
If you have any ideas for new use cases or details, I'm open to suggestions.

[2017-03-13 20:35] buraktomruk commented on #43
My first draft:
![authentication sequence-2](https://cloud.githubusercontent.com/assets/25683353/23874143/41e9bea6-083d-11e7-9195-64a4ac03e4b2.png)

[2017-03-13 20:36] buraktomruk commented on #43
My first draft:
![authentication sequence-3](https://cloud.githubusercontent.com/assets/25683353/23874230/82ee3db4-083d-11e7-8e2b-affd3b5b7be8.png)

[2017-03-13 20:37] gokceuludogan opened #47 "Create a sequence diagram for Use Case 4: creating a group page"
## About

**Related Issues:** #30

We have to create sequence diagrams for our use cases and I am assigned to create a sequence diagram for  [Use Case 4](https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases#use-case-4) about creating a group

## To-do

- [ ] Create a sequence diagram for creating a group

[2017-03-13 20:41] gokceuludogan commented on #47
Here the draft of sequence diagram is:
![create group sequence 2](https://cloud.githubusercontent.com/assets/9639399/23874378/13ad9a3e-083e-11e7-88b3-15cdc7b0d369.png)

[2017-03-13 20:43] gokceuludogan commented on #33
Since we are working on the use cases in issue #30 I am closing this.

[2017-03-13 20:43] #33 closed

[2017-03-13 20:58] ugurcanarikan opened #48 "Sequence Diagram for Annotation"
## About

* **Related Issues:** #30

My task is to create a sequence diagram for adding annotations.

## To-do

- [x] Create the sequence diagram for adding annotations.

[2017-03-13 21:12] OnurOrhan commented on #44
![content creation sequence](https://cloud.githubusercontent.com/assets/25687182/23875554/efbc3f74-084a-11e7-89da-86134a7de782.png)

[2017-03-13 21:42] smddzcy commented on #44
I have some reviews:

1. `Activate Permission` is a bit ambiguous. You can check if the user has permission like this:

Use `System`'s `getUserById(id: UUID)` method, which gives you a `User` instance. Then get the `Permission` instance of the user by using `getPermission()` method on the `User` instance. Then you can check with that permission instance if the user has permission or not.

In a pro

[2017-03-13 21:45] smddzcy commented on #42
Here is my review:

1. `Activate Permission` is a bit ambiguous. You can check if the user has permission like this:

Use `System`'s `getUserById(id: UUID)` method, which gives you a `User` instance. Then get the `Permission` instance of the user by using `getPermission()` method on the `User` instance. Then you can check with that permission instance if the user has permission or not.

In a progr

[2017-03-13 21:58] smddzcy commented on #47
Here is my review:

1. `createGroup` is a method of `User`, so I think the receiver should be `User` instead of `Group`.
2. `add group to database` is implicit in our class diagram (we thought it's the job of the DBMS & ORM we'll use and we deliberately made it implicit), so I think you should remove the database parts.
3. I think you should show the instantiation of `group` in `createGroup(group:

[2017-03-13 22:05] memhak commented on #42
I updated the draft after the reviews

![new](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgQWRkaW5nIFRhZyBTZXF1ZW5jZQoKVXNlci0-K1VzZXIgSW50ZXJmYWNlOiBjbGljayBvbiB0aGUgImFkZCB0YWciIGJ1dHRvbgAwBQAkCi0-InN5c3RlbTogUwADBSI6IGNhbkFkZFRhZyh0YXJnZXQ6VGFnZ2FibGUpCgAdEC0-KwAuEmdldFVzZXJCeUlEKGlkOiBVVUlEABQnY3JlYXRlIABpCABdEwCBER4AgSIGOgA4CSkgAB0maGVjayBpZiB1c2VyIGlzIHBlcm1pdHRlZAoKYWx0ABEGa

[2017-03-13 22:10] smddzcy commented on #42
Oh, I forgot: I think you need a layer of a Taggable class here, for instance: a `Group` or `Event`. Because user interface should call `addTag` method on that and that class will take care of the permissions.

Also the object instantiation is still not there 😅  You need a `<<create>>` call on the `Tag` class like this:
![screen shot 2017-03-14 at 01 09 38](https://cloud.githubusercontent.com/asse

[2017-03-13 22:19] gokceuludogan commented on #47
You are right. I have changed it based on your comments. However, the changes might not be done correctly since I am still confused. Here is the new version:
![create group sequence 3](https://cloud.githubusercontent.com/assets/9639399/23877585/a8c62d90-084b-11e7-8947-fab3869cdae7.png)
Another review would be helpful @smddzcy

[2017-03-13 22:50] smddzcy commented on #47
Here we see the missing thing in our class diagram 😄  We should call `inviteMember` on `Group` from `UserInterface`, and then `Group` can get the `User` from `System`.

I've added a `inviteMember(userID: UUID): bool` method to `Group` class 👍

A minor thing: We've called it `User Interface`, there is a space in-between. One of us should change it for consistency 😄

[2017-03-13 23:21] MertKalaylioglu commented on #46
First draft for sequence diagram of "Use Case 8" is here.

![change group privacy settings](https://cloud.githubusercontent.com/assets/25799137/23879227/d3f6dfda-085c-11e7-80d1-ef4399fa780a.png)

[2017-03-13 23:23] smddzcy commented on #46
Let's put all the drafts to wiki and sleep now 😴  (But we should improve these this week 😅 )

[2017-03-13 23:37] mehmetcalim commented on #45
Draft of search an item sequence diagram:

![searchanitem](https://cloud.githubusercontent.com/assets/25671417/23879658/21eb221a-0857-11e7-951b-c23511506920.png)

[2017-03-14 00:22] MertKalaylioglu commented on #46
Sequence diagram of "Changing User Privacy Settings" is here.

![change user privacy settings](https://cloud.githubusercontent.com/assets/25799137/23880545/5c7d8202-0865-11e7-90cf-8aed2b2dd1c1.png)

[2017-03-14 08:33] smddzcy opened #49 "Add service classes to class diagram"
## About

* **Related Issues:** #40

We saw that we don't have service classes to interact with our actual classes in our API, so we should create those.

[2017-03-14 09:55] gokceuludogan commented on #38
The tag and the annotation part was missing in the use case diagram. I have added them. Here it is:
![usecasediagram](https://cloud.githubusercontent.com/assets/9639399/23895039/0966e728-08ad-11e7-8aea-0e4ea049fc7a.png)

[2017-03-14 10:56] smddzcy commented on #49
Here is the refactored class diagram with added service classes:
![class diagram](https://cloud.githubusercontent.com/assets/13895224/23897858/6eae1ec6-08b7-11e7-8a71-95bbc75ffb92.png)

[2017-03-14 10:57] smddzcy commented on #49
@bounswe/bounswe2017group3 Can you all please check (and review in the process) the new class diagram? We should design our sequence diagrams by using the new service classes 😄

Also; I've asked the instructor about the database operations. She said we shouldn't create a class for it (obviously), but we should show the database in our sequence diagrams with high-level descriptions like: "query the

[2017-03-14 12:01] smddzcy commented on #41
I've updated the diagram after the class this morning:
![login sequence](https://cloud.githubusercontent.com/assets/13895224/23899636/a11a76d2-08be-11e7-9ff3-1ee672a45817.png)

[2017-03-14 12:08] smddzcy commented on #30
@OnurOrhan I think we should include updates and removals of events, groups, content etc. Can you please check the new class diagram and (if @gokceuludogan is finished) the new use case diagram? You should notice that there are many missing use cases.

[2017-03-14 13:45] gokceuludogan commented on #47
Since we have changed our class diagram, I have edited the sequence diagram. Here it is:
![create group sequence 5](https://cloud.githubusercontent.com/assets/9639399/23903383/10dfafec-08cd-11e7-8b75-c8f2ab2fbe5e.png)

[2017-03-14 14:11] gokceuludogan commented on #30
@OnurOrhan I have posted the new version of use case diagram to #38 and also changed it on the use cases page

[2017-03-14 15:08] smddzcy commented on #47
I think it's good 👍

[2017-03-14 17:01] gokceuludogan commented on #47
OK then I am going to add this to the wiki and close this issue.

[2017-03-14 17:01] #47 closed

[2017-03-15 21:12] smddzcy commented on #30
@mtoygar @mehmetcalim @OnurOrhan We can assign someone else if you don't have time to do it 😅

[2017-03-15 21:13] smddzcy commented on #42
@memhak I'm making this `in progress` since everything is changed 😄  Please take a look the service classes and my sequence diagram for an example.

[2017-03-15 21:14] smddzcy commented on #46
@MertKalaylioglu I'm making this `in progress` since everything is changed 😄  Please take a look the service classes and my sequence diagram for an example.

[2017-03-15 21:25] memhak commented on #42
okay, I will make the changes 👍

[2017-03-18 08:39] buraktomruk commented on #43
Here is the new version :
![authentication sequence](https://cloud.githubusercontent.com/assets/25683353/24070485/14228164-0bc7-11e7-9b9f-bb9ac03701d8.png)

[2017-03-18 09:44] smddzcy commented on #29
I'm closing this one 👍

[2017-03-18 09:44] #29 closed

[2017-03-18 09:45] smddzcy commented on #41
I'm closing this one since it's reviewed 👍

[2017-03-18 09:45] #41 closed

[2017-03-18 09:48] smddzcy commented on #45
@mehmetcalim Can you please update the sequence diagram according to our new class diagram? You can take a look at https://cloud.githubusercontent.com/assets/25683353/24070485/14228164-0bc7-11e7-9b9f-bb9ac03701d8.png or https://cloud.githubusercontent.com/assets/13895224/23899636/a11a76d2-08be-11e7-9ff3-1ee672a45817.png for examples.

[2017-03-18 09:50] smddzcy opened #50 "Update registration sequence diagram according to new class diagram"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group3/issues/49

We should update our registration sequence diagram since we've heavily changed our class diagram.

[2017-03-18 09:50] smddzcy commented on #50
@esra-aydemir You can take a look at https://cloud.githubusercontent.com/assets/25683353/24070485/14228164-0bc7-11e7-9b9f-bb9ac03701d8.png or https://cloud.githubusercontent.com/assets/13895224/23899636/a11a76d2-08be-11e7-9ff3-1ee672a45817.png for examples.

[2017-03-18 09:52] smddzcy commented on #44
@OnurOrhan We should update this diagram according to our new class diagram. You can take a look login, create event or create group sequence diagrams.

[2017-03-18 10:05] smddzcy commented on #36
Our scenarios look pretty cool. I've fixed the typos and added a better text for Scenario 6. I'm closing this one 👌

[2017-03-18 10:05] #36 closed

[2017-03-18 12:09] smddzcy opened #51 "Enhance the project description in README"
## About

We should summarize our project in a few lines and add it to `README.md` so that people will have an idea about our project when they enter the repository.

[2017-03-18 14:19] esra-aydemir opened #52 "Tasks After meeting 6 (on 17th of March)"
- [ ] Update assigned sequence diagrams @everyone
- [x] Create & schedule project plan @esra-aydemir
- [x] Add assignees to project plan @MertKalaylioglu
- [ ] Review & finalize project plan @gokceuludogan
- [x] Add milestone to github @smddzcy

[2017-03-18 16:20] ugurcanarikan commented on #48
![s](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgQW5ub3RhdGlvbiBTZXF1ZW5jZQoKVXNlci0-K1VzZXIgSW50ZXJmYWNlOiBjbGljayBvbiB0aGUgYWRkIGEAMwpidXR0b24ANQUAKQotPlVzZXI6IHVzZXIgaXMgZGlyZWN0ZWQgdG8AMBBwYWdlAHEHAGcQADkFYWRkcwBlCwBYEStTeXN0ZW06IGFkZACBSgooAIEYCjoAgWALKQoAKAYtPi0AgVQQU3VjY2VzcwCBMhcAgiMLaXMgYWRkZWQKIAoKCgoKCgo&s=default)
I assumed add annotation button will appear only for im

[2017-03-18 16:24] ugurcanarikan commented on #49
Can you also add a method about adding an annotation?

[2017-03-19 08:06] smddzcy commented on #49
@ugurcanarikan I've added an `addAnnotation` method to `PostService`. Is this enough?

Here is the new diagram:
![class diagram](https://cloud.githubusercontent.com/assets/13895224/24079268/6d4c9200-0c8c-11e7-8137-a119234c4a81.png)

[2017-03-19 10:15] smddzcy opened #53 "Enhance the initial project plan"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group3/issues/52

Our initial project plan is not structured and it doesn't look good at the moment. We should properly indent the tasks so that we'll be able to see which ones are the subtasks. Also, our milestones look exactly like the tasks. We should display them as milestones.

## Visuals

The project plan looks like this i

[2017-03-19 10:17] smddzcy opened #54 "Create a milestone in GitHub"
## About

* **Related Issues:** #53 #52

We should create a milestone in GitHub and create & attach the related issues to that so that we'll be able to analyze and measure our work.

[2017-03-19 10:17] smddzcy commented on #54
I'll do this after #53 🚀

[2017-03-19 13:52] MertKalaylioglu opened #55 "Update Project Plan"
- [x] Group the tasks
- [x] Add resources to project plan
- [x] Assign resources to the tasks
- [x] Determine precedences
- [x] Adjust weekends as working days
- [x] Change the appearance of milestones

[2017-03-19 13:52] gokceuludogan commented on #48
We don't have a class named User Interface. Please check the new version of our class diagram and the sequence diagrams edited based on this one. We are allowed to use only the classes in the diagram and Database for convenience. Could you edit the diagram according to changes? @ugurcanarikan

[2017-03-19 13:54] gokceuludogan commented on #46
@MertKalaylioglu Could you edit the diagram as soon as possible according to changes since we can have a enough time to review it?

[2017-03-19 13:56] gokceuludogan commented on #45
@mehmetcalim Could you edit this diagram as soon as possible to have enough time to review it?

[2017-03-19 14:00] gokceuludogan commented on #44
@OnurOrhan  Can you update this diagram soon so that we have enough time to review it?

[2017-03-19 14:02] gokceuludogan commented on #42
@memhak Since we should review the diagram, could you please update it as soon as possible?

[2017-03-19 14:05] gokceuludogan commented on #49
@smddzcy Since the annotations can be added anywhere in a page, I think we should generalize this method instead of adding it only to PostService.

[2017-03-19 15:48] smddzcy commented on #49
@gokceuludogan Changed the annotation. Check this out:
![class diagram - page 1](https://cloud.githubusercontent.com/assets/13895224/24082336/a7005be0-0ccc-11e7-953f-f74b5cdba223.png)

[2017-03-19 15:57] MertKalaylioglu commented on #46
Second draft for sequence diagram of "Use Case 8" is here.

![change group privacy settings - 2](https://cloud.githubusercontent.com/assets/25799137/24082390/e9f50e74-0cd5-11e7-88e7-2a7cfbf10f33.png)

[2017-03-19 19:27] smddzcy commented on #46
@MertKalaylioglu Shared settings of activities (`Post`, `Group` or `Event` is called an `Activity` in our class diagram) like setting privacy, adding tag etc. are in `ActivityService`. Please take a look at the `Activity` interface 😄

[2017-03-19 19:33] smddzcy commented on #53
@esra-aydemir merci, looks perfect now 👌

[2017-03-19 19:33] #53 closed

[2017-03-19 19:34] smddzcy commented on #55
@MertKalaylioglu thank you  👍

[2017-03-19 19:34] #55 closed

[2017-03-19 19:43] #54 closed

[2017-03-19 23:11] memhak commented on #42
This is the new draft, now it has some flows. I'm gonna improve the lifespans, but please share your reviews. :)

![draft](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgQWRkaW5nIFRhZyBTZXF1ZW5jZQoKVXNlci0-QWN0aXZpdHkgU2VydmljZTogYWRkVGFnKGEAEgdJRDogVVVJRCx0YWdwcm9wczpNYXA8U3RyaW5nLCBPYmplY3Q-KTpUYWcKADwQLT5Vc2VyOiBjaGVjayBpZiB1c2VyIGhhcyBwZXJtaXNzaW9uCgoKYWx0AAUVICAgIACBDRgAGBgAaxgA

[2017-03-19 23:12] MertKalaylioglu commented on #46
Third draft for sequence diagram of "Use Case 8" is here.

![change group privacy settings - 2 1](https://cloud.githubusercontent.com/assets/25799137/24085764/b644dad6-0d12-11e7-9c7f-9a436bfdfe13.png)

[2017-03-20 07:49] mtoygar commented on #30
I will add sending invitations to a group/event, removal of the content/event/group/tags/annotations, email verification and banning a user.

I need comment about adding the updates of the content/event/group/tags/annotations since we didn't mention about them in the use case diagram although we have mentioned about the in the class diagram. By the way, sorry for the late response, I was a bit bus

[2017-03-20 08:29] mtoygar commented on #30
I decide not to include email verification to the use cases. Because I thought that it is a service, rather than a use case. If you have comments please dont hesitate to share it.

[2017-03-20 08:45] mtoygar commented on #30
I have added 3 use cases (use case 10-11-12).
https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases

[2017-03-20 09:27] ugurcanarikan commented on #48
![](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgQW5ub3RhdGlvbiBTZXF1ZW5jZQoKVXNlci0-VXNlcjogY2xpY2sgb24gdGhlIGFkZCBhACgKYnV0dG9uACgHK1Bvc3QgU2VydmljZTogYWRkAFIKKHVzZXJJRDpVVUlELHZhbHVlczpNYXA8U3RyaW5nLE9iamVjdD4pCgA3DC0-AEMOY2hlY2sgaWYgaW5wdXQgc3ludGF4IGlzIHZhbGlkCmFsdAAEBgAaBgogICAgAEINLT4AgWIKOjw8Y3JlYXRlPj4AFxI-K0RhdGFiYXNlOiAAIAYAgWgMcmVjb3JkAFoFAB8ILS0-LQCBbw5zdWNjZXNzAHEUAIJ

[2017-03-20 14:25] #38 closed

[2017-03-20 19:26] buraktomruk commented on #43
I am closing this issue since it's compatible to new class diagram.

[2017-03-20 19:26] #43 closed

[2017-03-20 19:56] OnurOrhan commented on #44
Of course my friend! You could check this version. @gokceuludogan
![content creation sequence 2](https://cloud.githubusercontent.com/assets/25687182/24118860/5a22b2c4-0dc0-11e7-8360-6cd3f89972ae.png)

[2017-03-20 20:04] gokceuludogan commented on #44
@OnurOrhan Please check the class diagram on #49. We have updated it and divided the system class as service classes. Additionally you should show the interactions with the database. Taking a look at the new version of login, create group and event diagrams might also be useful.

[2017-03-20 20:21] gokceuludogan commented on #42
@memhak We have removed the system and added services for its methods. Please check the class diagram on #49 and update the diagram. Also we should show the interaction with database. You can take a look at the the last versions of login, create group and event diagrams.

[2017-03-20 20:52] #48 closed

[2017-03-20 21:03] memhak commented on #42
new one

![new](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgQWRkaW5nIFRhZyBTZXF1ZW5jZQoKVXNlci0-K0FjdGl2aXR5IFNlcnZpY2U6IGFkZFRhZyhhABIHSUQ6IFVVSUQsdGFncHJvcHM6TWFwPFN0cmluZywgT2JqZWN0Pik6VGFnCgA8EC0-AEwSY2hlY2sgaWYgdXNlciBoYXMgcGVybWlzc2lvbgoKCmFsdAAFFSAgICAAThEtPlRhZzogPDxjcmVhdGU-PgARFj4rRGF0YWJhc2U6IAAkBiB0YWcgcmVjb3JkAFUFABgILS0-LQCBfxJzdWNjZXNzAGwYVXNlcgAbCmVsc2UAgVYGZG9lc24

[2017-03-20 21:30] mehmetcalim commented on #45
![sequence_search](https://cloud.githubusercontent.com/assets/25671417/24122624/311d413c-0dc5-11e7-908b-71d94fdcf139.JPG)

[2017-03-20 21:38] #51 closed

[2017-03-20 21:39] smddzcy commented on #50
I saw that this is done. Closing 🚀

[2017-03-20 21:39] #50 closed

[2017-03-20 21:40] smddzcy commented on #49
Thanks for the reviews. Since no one has any problem anymore, I think that our class diagram is enough for our use cases. Closing 🚀

[2017-03-20 21:40] #49 closed

[2017-03-20 21:45] smddzcy commented on #45
@mehmetcalim This looks very good. One tiny thing: Methods in our search class are not static, so you probably should change `Search` to `search: Search` to show that's an _instance_ of the class.

[2017-03-20 21:47] smddzcy commented on #42
@memhak Looks good, closing 👍

[2017-03-20 21:47] MertKalaylioglu commented on #46
Final draft for sequence diagram of "Use Case 8" is here.

Changing Group Privacy Setting
![change group privacy settings](https://cloud.githubusercontent.com/assets/25799137/24123221/b5d89656-0dcf-11e7-82b8-7fe4e7c786b9.png)

Changing User Privacy Setting
![change user privacy setting](https://cloud.githubusercontent.com/assets/25799137/24123295/f70c68d2-0dcf-11e7-9754-9f106ec767a9.png)

[2017-03-20 21:49] smddzcy commented on #30
Removing content and inviting users were the most important ones. Thanks @mtoygar 👍 Closing.

[2017-03-20 21:49] #30 closed

[2017-03-20 21:50] smddzcy commented on #46
@MertKalaylioglu Looks very good, thanks 👌 Closing.

[2017-03-20 21:50] #46 closed

[2017-03-20 21:51] #42 closed

[2017-03-20 21:54] mehmetcalim commented on #45
@smddzcy I changed "Search" to "search: Search" and I will upload it to Sequence Diagrams page. Here its last version:

![sequence-search](https://cloud.githubusercontent.com/assets/25671417/24123873/069872ce-0dca-11e7-930f-088edf696101.png)

[2017-03-20 22:31] smddzcy commented on #45
@mehmetcalim I think it looks good, thanks 👍 You can close the issue when you upload.

[2017-03-20 22:33] smddzcy commented on #44
This is the only sequence diagram we couldn't finish. @OnurOrhan Although it's technically good, you should use the service classes and simplify it a bit 😄 Please take a look at @gokceuludogan's examples.

[2017-03-20 23:50] MertKalaylioglu opened #56 "Create Project Plan with Microsoft Project"
- [x] Create a new project in MS Project and transfer data from old project.
- [x] Add slack times to the plan.

[2017-03-20 23:52] MertKalaylioglu commented on #56
New project plan is here. But there exists language problem!

[Project Plan Group3_2_v2.pdf](https://github.com/bounswe/bounswe2017group3/files/856709/Project.Plan.Group3_2_v2.pdf)
[Project Plan Group3_v2.pdf](https://github.com/bounswe/bounswe2017group3/files/856710/Project.Plan.Group3_v2.pdf)

[2017-03-24 14:09] smddzcy commented on #45
I think you forgot to close the issue. I saw the diagram is in our wiki 👌 Closing.

[2017-03-24 14:09] #45 closed

[2017-03-24 14:28] smddzcy opened #57 "Upload the project plan .pod file to our Google Drive folder"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group3/wiki/Meeting-7-24.03.2017

We should upload our project plan file to Google Drive for easy access.

[2017-03-24 14:29] smddzcy commented on #44
@OnurOrhan We've talked about this issue in the meeting today and set the deadline as **28.03.17 11.59 pm** 👍

[2017-03-24 14:31] smddzcy opened #58 "Fix typos and language problems in the project plan"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group3/issues/57
* **Other Related Links:** https://github.com/bounswe/bounswe2017group3/wiki/Meeting-7-24.03.2017

Our project plan contains small typos and some language problems. We should fix those.

[2017-03-24 14:32] smddzcy commented on #58
I'll finish it as soon as I get the `.pod` file 😄

[2017-03-24 17:05] MertKalaylioglu commented on #57
.mpp file (MS Project file) is uploaded to Slack. Anybody can download the project plan file from Slack.

[2017-03-24 17:06] #57 closed

[2017-03-24 17:13] #56 closed

[2017-03-24 17:27] MertKalaylioglu opened #59 "Enhancing the Project Plan"
There are some misunderstandings in Project Plan.

What is the difference between Class Diagram in Behavioral Modeling and System Classes in Structural Modeling?

What is the difference between Activity Diagrams and Action Diagrams?

Funding and analysis parts are unclear and have no assignees (resources).

[2017-03-25 15:45] memhak opened #60 "Configure slack times in the project plan"
## About

* **Other Related Links:** https://github.com/bounswe/bounswe2017group3/wiki/Meeting-7-24.03.2017

Slack times in the project plan aren't decided yet. We should configure those.

[2017-04-03 21:09] OnurOrhan commented on #44
![content creation sequence 4](https://cloud.githubusercontent.com/assets/25687182/24631938/fb505a7e-18ca-11e7-8035-171a150918cb.png)

[2017-04-03 21:10] smddzcy commented on #44
Looks good 👍 But it'd be better if you use "User" in the leftmost part and show the user's actions like the rest of us. You can make the change or not when you're available (in a separate enhancement issue, because this is very overdue). Also please don't forget to put it to the wiki.

[2017-04-03 21:10] #44 closed

[2017-04-03 21:17] OnurOrhan commented on #44
![content creation sequence 5](https://cloud.githubusercontent.com/assets/25687182/24632144/c01befda-18cb-11e7-846d-8e9cc4321de3.png)

I couldn't put "User" on the left since the sequence doesn't start with the user. But I changed the style and I'm putting it now on the diagram page

[2017-04-04 08:14] smddzcy opened #61 "Put project plan to GitHub"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group3/issues/52

We should put our project plan to GitHub.

[2017-04-04 08:18] smddzcy commented on #61
https://github.com/bounswe/bounswe2017group3/wiki/Project-Plan 🚀

[2017-04-04 08:18] #61 closed

[2017-04-04 09:32] smddzcy opened #62 "Choosing the framework to use for Java API"
## About

We should choose a framework to speed up our API development process in Java.

[2017-04-04 09:36] smddzcy commented on #62
A very easy and tiny REST API framework for Java: http://sparkjava.com/

Here is the "Hello, World!" code:
[code]

Also, we can take a look at these ones too: http://www.gajotres.net/best-available-java-restful-micro-frameworks/

[2017-04-07 16:37] esra-aydemir commented on #59
[projectPlan2.pdf](https://github.com/bounswe/bounswe2017group3/files/906186/projectPlan2.pdf)
[projectPlan.pdf](https://github.com/bounswe/bounswe2017group3/files/906185/projectPlan.pdf)

[2017-04-07 17:44] gokceuludogan commented on #62
Spark seems very good for creating an API!

[2017-04-07 17:53] smddzcy commented on #62
The only problem is it doesn't parse the POST body params for us 😄 It looks very simple and elegant, but we have to implement (or find) a form-data parser to use it.

[2017-04-07 21:47] #59 closed

[2017-04-08 10:53] gokceuludogan commented on #62
@smddzcy Since we have decided to use python in creating API, we should edit or close this issue.

[2017-04-08 11:42] smddzcy commented on #62
I think Python can be hard since noone knows it 😄 Should we make a poll to choose the language?

[2017-04-08 11:51] gokceuludogan commented on #62
@smddzcy I thought that the decision has been made in the meeting as far as I understand from the meeting notes. However,  it's better to make a decision after the poll.

[2017-04-08 13:31] esra-aydemir commented on #58
It is on slack and github now anyone can review for minor errors. Otherwise this version will be accepted as final version.

[2017-04-08 13:41] esra-aydemir opened #63 "Complete sequence diagrams"
## About

* **Related Issues:** #52

Currently there are 12 [Use Cases](https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases) but 9 [Sequence Diagrams](https://github.com/bounswe/bounswe2017group3/wiki/Sequence-Diagrams). We shall complete the missing sequence diagrams and review the existing ones.

[2017-04-08 13:43] esra-aydemir commented on #52
I am closing this issue since it is not explanatory anymore. the remaining parts of this issue are at:
sequence diagrams:  #63
and project plan: #58

[2017-04-08 13:43] #52 closed

[2017-04-08 15:49] gokceuludogan commented on #63
I think it is not obligatory to have a sequence diagram for each use case. Additionally, there is a mistake in the use case 12. Moderators are allowed to ban a user from their group/event, not from the site, removing from the site is the responsibility of the admin. Could you edit that use case please? @mtoygar

[2017-04-08 16:10] gokceuludogan commented on #58
I think we have to add another milestone for this semester it might be after testing and analysis parts are completed. Moreover, the slack times are still missing.

[2017-04-08 16:55] smddzcy commented on #58
We should definitely add the slack times ASAP. Who can do this? @bounswe/bounswe2017group3

[2017-04-09 00:15] smddzcy opened #64 "Create issue & pull request specifications"
## About

We'll start opening pull requests and pushing some code to the repository soon, but before that, we should put these things into a structure.

We should create an issue specification page that defines **which label is used when**, **what are things in the right panel of issue creation page and how to use them** (_Assignees_, _Projects_), **what is the format of an issue** (although I've

[2017-04-09 00:23] smddzcy commented on #64
@bounswe/bounswe2017group3 Here's a good post that explains pull requests: https://medium.com/@mscccc/jr-developers-1-pull-requests-you-39a11c3bdd94

[2017-04-09 11:55] smddzcy opened #65 "Improving our Kanban board"
## About

* **Other Related Links:** Link to our board: https://github.com/bounswe/bounswe2017group3/projects/1?fullscreen=true

We should add the missing issues to our Kanban board and improve the columns (changing some names and adding missing columns like `QA / Review`).

## Visuals

Finalized board:
![screen shot 2017-04-09 at 14 56 16](https://cloud.githubusercontent.com/assets/13895224/24837

[2017-04-09 11:57] smddzcy commented on #65
I've added the picture of the finalized board.

[2017-04-09 14:41] smddzcy opened #66 "Create milestone 2 in GitHub"
## About

* **Other Related Links:** Our project plan: https://github.com/bounswe/bounswe2017group3/wiki/Project-Plan

We should create the milestone 2 in GitHub and add the relevant issues to that.

[2017-04-09 17:30] gokceuludogan commented on #66
I think we can add one after the testing and analysis parts are completed through the end of April or beginning of May.

[2017-04-09 17:35] gokceuludogan commented on #65
@smddzcy Good work!

[2017-04-09 19:01] #60 closed

[2017-04-10 19:56] smddzcy commented on #66
It looks like someone already added a milestone 😄

[2017-04-10 20:54] smddzcy opened #67 "Enhancing our requirements"
## About

According to the lecture notes, our `Non-functional Requirements` is not totally complete yet. We should enhance it by adding some implementation details and making the requirements more detailed and concrete.

[2017-04-10 20:55] smddzcy commented on #67
@bounswe/bounswe2017group3 Let's think about this in one of our meetings and go over our requirements once more.

[2017-04-11 17:50] smddzcy commented on #62
@bounswe/bounswe2017group3 Now, Java is selected and as far as I could understand Spring framework is OK for everyone. If it is, then we should close this issue and start documenting our API 😄

[2017-04-11 18:32] smddzcy opened #68 "Creating the requirements of our test application"
## About

We should create the requirements of our test application before creating its REST API. As all of you know, it'll be a _event listing application_ where users will be able to register and log into the system, create events, join events, or get all the events.

## To-do

- [x] Discuss the requirements of our test application.
- [x] Create the requirements of our test application.
- [x] Te

[2017-04-11 20:57] gokceuludogan commented on #68
I have created a page with our basic requirements [here](https://github.com/bounswe/bounswe2017group3/wiki/API-Requirements). Could you review it and add new ones if necessary, please? @smddzcy

[2017-04-11 21:04] gokceuludogan commented on #66
We have added it on meeting but I think we should also add a page clarifying what the functionality and the deliverables of these milestones are.

[2017-04-11 21:08] gokceuludogan commented on #63
Ok I have solves the conflict in the use case 12. Since it is not obligatory to have a sequence diagram for each use case and also the remaining ones are not crucial, I think we can close this issue. Could you close this if you agree with me?  @esra-aydemir

[2017-04-11 22:10] smddzcy commented on #65
@gokceuludogan Thanks 🍾  Closing this one.

[2017-04-11 22:10] #65 closed

[2017-04-11 22:11] smddzcy commented on #64
Issue specifications are ready: https://github.com/bounswe/bounswe2017group3/wiki/Creating-an-Issue

@bounswe/bounswe2017group3 Everyone **must** read and review this so that we can agree on it.

I'm going to write the pull request specifications and finish this tomorrow. 🤞

[2017-04-11 22:27] smddzcy commented on #68
I've made some of the requirements more concrete and clear, added the requirement about tokens, added a brief description, and fixed the formatting. Maybe we can add some more non-functional requirements later on, but it looks enough at the moment, you can close it after taking another look 👌

**Edit:** Oh, also, we need to add this page's link to somewhere in the wiki 😅

[2017-04-14 00:05] smddzcy commented on #66
@gokceuludogan We already have that, that's our project plan. Anyways, I'm closing this one, maybe we can continue on another issue if we want to enhance our milestone specs. 🤞

[2017-04-14 00:06] #66 closed

[2017-04-14 00:07] smddzcy commented on #58
This looks pretty done. Closing 👍

[2017-04-14 00:07] #58 closed

[2017-04-14 12:39] smddzcy commented on #64
@bounswe/bounswe2017group3 Pull request specifications are ready too. Please read and review it 😄

[2017-04-14 16:59] gokceuludogan commented on #64
They seem very nice and functional :clap:

[2017-04-14 19:41] #64 closed

[2017-04-16 21:27] #63 closed

[2017-04-16 21:40] esra-aydemir commented on #62
Spring is the framework we will use.

[2017-04-16 21:40] #62 closed

[2017-04-16 22:21] esra-aydemir commented on #67
Related pages:
- [Customer Meeting 1](https://github.com/bounswe/bounswe2017group3/wiki/Customer-Meeting-1)

There is also an issue on requirements that we decided to add details and more options to templates at the Customer Meeting. We should also update related requirements.
We can go over requirements considering these cases on our next meeting (Meeting 9) which is supposed to be on 28.04.17.

[2017-04-17 20:12] smddzcy commented on #67
@esra-aydemir Sounds good 👍

[2017-04-17 20:51] esra-aydemir opened #72 "Task Sharing for API"
## About

* **Related Issues:**
[Creating the requirements of our test application #68 ](#68)
* **Other Related Links:**
[Initial configuration for our events application and basic user endpoints #71](#71)

We need to create an API and all members must contribute to it. To achieve this we first need to have enough number of requirements to share tasks between members. This means this issue can be

[2017-04-17 21:29] smddzcy commented on #72
Add a user and retrieve all users are already implemented 👍

[2017-04-18 12:47] gokceuludogan commented on #72
I can handle the tasks which are retrieving user and editing user. However, we can add options to them such as: getting user by id, username, fullname etc. if there is not enough task for each member of team.

[2017-04-19 08:01] esra-aydemir commented on #72
It seems reasonable. I will
- [x] add those to the requirements and
- [x] edit the list,
then you can take which ones you want and implement those.
By the way you can assign yourself above to let anyone see easily who is doing which task.
And I will take the create event task. I can try others also if everyone takes a task and some other tasks remain.

[2017-04-19 08:14] memhak commented on #72
I think I can handle retrieve all events and retrieve an event tasks. 👍

[2017-04-19 12:53] ugurcanarikan commented on #72
I can take get user by id and delete an event

[2017-04-19 14:40] OnurOrhan commented on #72
I am assigning myself the remaining "get user by full name"

[2017-04-19 14:52] smddzcy commented on #72
To help you out with the routing:
Get X by id should be like this: `/X/:id`
Get X by anything other than id should use query params like this: `/X?param1&param2&...&paramN`

So, for `User` example:
- `/user/15` should return a single user with id 15.
- `/user?name=Samed` should return the users (an array) who have the name Samed.
- `/user?name=Samed&age=25` should return the users (an array) who h

[2017-04-19 16:55] mehmetcalim commented on #72
I can take update event.

[2017-04-20 11:50] mtoygar commented on #72
I take the delete event task from @ugurcanarikan.

[2017-04-20 20:36] smddzcy commented on #72
By the way, I've just noticed that I forgot to add a getter for `id` to `User`. Someone should better implement a `long getId()` method on `User` class 😄

[2017-04-22 17:21] gokceuludogan commented on #72
@smddzcy I have added `long getId()` method :+1:

[2017-04-24 12:17] buraktomruk commented on #72
I take the "delete user".

[2017-05-06 10:31] gokceuludogan opened #85 "Create test cases for our project"
## About
* **Other Related Links:** https://github.com/bounswe/bounse2017group3/wiki/Use-Cases

We should create test cases for our project mostly based on our use cases. Please assign at least one of them to yourself and feel free to add new test cases that you think it is essential or remove if you think it is unnecessary.

## To-do

- [ ] Search an item.
- [ ] Create a tag for item.
- [ ] Creat

[2017-05-06 10:38] gokceuludogan opened #86 "Create a test case for searching an item"
## About

* **Related Issues:** #85
* **Other Related Links:** https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases

We should create test cases for our project and I am assigned to create a test for searching an item.

## To-do

- [x] Create a test case for searching an item

[2017-05-06 11:23] gokceuludogan commented on #85
I have created an initial template which you can use while writing the test cases https://github.com/bounswe/bounswe2017group3/wiki/Test-Cases

[2017-05-06 21:08] mtoygar commented on #68
I have added the link under project documentation in wiki, if we dont have any further addition to the requirements we can close this issue :muscle:

[2017-05-06 23:02] mtoygar commented on #85
I have added test cases for "create a tag for an item" to [wiki](https://github.com/bounswe/bounswe2017group3/wiki/Test-Cases). Can you guys review?

[2017-05-07 12:53] gokceuludogan commented on #85
@mtoygar Test cases should be like a scenario not like a list. For example, at the first step, user clicks search button, the second one is user writes keyword and so on. [Here]( https://github.com/bounswe/bounswe2016group6/wiki/Test-Cases) are some example test cases from last year. Additionally, it might be a good idea to create an issue for that since tracking of each test case could be hard wi

[2017-05-07 21:02] #68 closed

[2017-05-08 12:36] mtoygar opened #89 "Create test cases for tagging an item."
## About

* **Related Issues:** #85
* **Other Related Links:** [Wiki Use Cases Page](https://github.com/bounswe/bounse2017group3/wiki/Use-Cases)

We should create test cases for our project, and I assigned myself to complete test cases for tagging an item

## To-do

- [ ] Create test cases for tagging an item.

[2017-05-08 13:06] MertKalaylioglu opened #91 "Create a test case for changing privacy settings"
## About

* **Related Issues:** #85
* **Other Related Links:** [Wiki Use Cases Page](https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases)

I assigned myself to complete the test case for changing privacy settings.

## To-do

- [x] Create a test case for changing privacy settings of a group/ an event.

[2017-05-08 14:32] gokceuludogan commented on #89
@mtoygar Test cases look fine :+1:

[2017-05-08 14:54] buraktomruk opened #92 "Create a test case for sending invitation to a user."
## About

* **Related Issues:** #85
* **Other Related Links:** [Wiki Use Cases Page](https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases)

I assigned myself to complete the test case for sending invitation to a user.

## To-do

- [ ] Create a test case for sending invitation to a user.

[2017-05-08 17:46] smddzcy commented on #85
I took the _"Ban a user."_ test case 👍

[2017-05-08 17:53] smddzcy opened #93 "Create a test case for warning/banning a user"
## About

* **Related Issues:** https://github.com/bounswe/bounswe2017group3/issues/85
* **Other Related Links:** Our mockups to better understand the test steps: https://github.com/bounswe/bounswe2017group3/wiki/Web-Mockups

I'll create a test case for warning and banning a user in a group.

[2017-05-08 18:10] memhak commented on #85
I'm taking "creating annotation" case 👍

[2017-05-08 18:12] memhak opened #94 "Create a test case for creating annotation"
## About

* **Related Issues:** #85
* **Other Related Links:** [Wiki Use Cases Page](https://github.com/bounswe/bounse2017group3/wiki/Use-Cases)

I'm creating a test case for annotations.

[2017-05-08 18:39] smddzcy commented on #93
Test case for warning a user:
https://github.com/bounswe/bounswe2017group3/wiki/Test-Cases#test-case-id-tc_7

Test case for banning a user:
https://github.com/bounswe/bounswe2017group3/wiki/Test-Cases#test-case-id-tc_8

@gokceuludogan Can you please review? 😄

[2017-05-08 18:50] gokceuludogan commented on #93
@smddzcy Perfect :+1:

[2017-05-08 18:51] smddzcy commented on #93
@gokceuludogan Thank you, closing 🚀

[2017-05-08 18:51] #93 closed

[2017-05-08 18:57] mehmetcalim commented on #85
I took "create an item" case.

[2017-05-08 19:01] mehmetcalim opened #95 "Create a test case for creating an item"
## About

* **Related Issues:** #85
* **Other Related Links:** [Wiki Use Cases Page](https://github.com/bounswe/bounswe2017group3/wiki/Use-Cases)

I assigned myself to complete the test case for creating an item.

## To-do

- [ ] Create a test case for creating an item.

[2017-05-08 19:04] #91 closed

[2017-05-08 19:30] OnurOrhan opened #96 "Create a test case for creating a post"
Creating a post about a Kasparov move on the group page...

- [x] Test case details and requirements
- [x] Test case table

[2017-05-08 19:31] #96 closed

[2017-05-09 16:51] ugurcanarikan opened #97 "Create a test case for following a group"
## About

* **Related Issues:**  #85

- [x] Create a test case for following a group.

[2017-05-09 18:38] gokceuludogan commented on #86
@smddzcy could you review please ? :smile:

[2017-05-09 20:04] smddzcy commented on #86
@gokceuludogan Everything looks good 👌

[2017-05-09 20:20] #86 closed

[2017-05-09 21:12] gokceuludogan commented on #97
@ugurcanarikan Seems good :+1:

[2017-05-10 10:25] mtoygar commented on #89
I close this issue, thx :checkered_flag:

[2017-05-10 10:25] #89 closed

[2017-05-10 13:39] #97 closed

[2017-05-10 20:38] #92 closed

[2017-05-26 10:26] smddzcy commented on #85
@bounswe/bounswe2017group3 This is way overdue, just letting you know 😄